<div>
<h1>Mr. Money</h1>
  <p>"In our savings we trust"</p>
  <%= button_to "Sign In", user_session_path, method: :get %>
  <%= button_to "Sign Up", new_user_registration_path, method: :get %>
</div>
